*, *:before, *:after {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html {
    min-height: 100vh;
    font-family: 'Montserrat', sans-serif;
    background-color: #4302F5;
    background: linear-gradient(to bottom, #31189a 0%,#4302f5 30%,#4302f5 70%,#4300FF 100%);
    letter-spacing: 2px;
    color: #fff;
    -webkit-text-size-adjust: 100%;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
main {
    z-index: -1;
    top: 0;
    left: 0;
    min-height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
}
h1 {
    font-weight: 900;
    text-align: center;
    font-size: 10vw;
    letter-spacing: 2px;
    color: #1BD1FE;
    margin-bottom: 24px;
}
span {
    display: block;
}
a {
    text-decoration: none;
    color: #fff;
    cursor: pointer;
}
span {
    color: #fff;
}