*, *:before, *:after {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html {
    min-height: 100vh;
    font-family: 'Montserrat', sans-serif;
    background-color: #4302F5;
    letter-spacing: 2px;
    color: #fff;
    -webkit-text-size-adjust: 100%;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
header {
    padding: 16px;
}
header nav {
    float: right;
}
h1.title {
    font-weight: 900;
    color: #fff;
    font-size: 20px;
    letter-spacing: 2px;
}
nav li {
    display: inline-block;
    font-size: 14px;
    text-transform: uppercase;
    padding: 8px;
}
main {
    z-index: -1;
    top: 0;
    left: 0;
    min-height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
}
h2.headline {
    font-weight: 900;
    text-align: center;
    font-size: 64px;
    letter-spacing: 2px;
    color: #1BD1FE;
    margin-bottom: 24px;
}
span {
    display: block;
    color: #fff;
}
a {
    text-decoration: none;
    color: #fff;
    cursor: pointer;
}


@media only screen and (max-width: 767px) {
    h2.headline {
      font-size: 48px;
    }
}

@media only screen and (max-width: 600px) {
    h2.headline {
      font-size: 32px;
    }
}

@media only screen and (max-width: 400px) {
    h2.headline {
      font-size: 24px;
    }
}